In [1]:
# MICE IMPUTER

In [16]:
import numpy as np
import pandas as pd

from sklearn.feature_selection import SelectKBest
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [17]:
df = pd.DataFrame(data={
    "Age":[25,27,29,31,33,np.nan],
    "Experience":[np.nan,3,5,7,9,11],
    "Salary":[50000,np.nan,80000,90000,100000,130000]
})
df

    Age  Experience    Salary
0  25.0         NaN   50000.0
1  27.0         3.0       NaN
2  29.0         5.0   80000.0
3  31.0         7.0   90000.0
4  33.0         9.0  100000.0
5   NaN        11.0  130000.0

In [18]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
imp = IterativeImputer(
     estimator = lr,
     max_iter = 10,
     tol = 0.1,
     imputation_order = "roman"
)

df1 = imp.fit_transform(df)

In [19]:
# Assuming you want to keep the same columns
df_imputed = pd.DataFrame(df1,columns = df.columns)

# if you also want to keep the index
df_imputed.index = df.index

In [20]:
df_imputed

         Age  Experience         Salary
0  25.000000    3.928175   50000.000000
1  27.000000    3.000000   70008.705209
2  29.000000    5.000000   80000.000000
3  31.000000    7.000000   90000.000000
4  33.000000    9.000000  100000.000000
5  37.400141   11.000000  130000.000000